.card-outer {
  background-image: var(--bg-card-outer);
  box-shadow: var(--shadow-card-backdrop), var(--shadow-card-inner);
  padding: var(--padding-card-outer);
  border-radius: var(--border-radius-card);
  overflow: hidden;

  &.list-container {
    .card-inner {
      display: flex;
      flex-direction: column;
    }

    .card-header {
      $vertical: 16px;
      position: sticky;
      margin: -$vertical 0 8px;
      top: -$vertical;
      padding-block: $vertical 8px;
      background-color: inherit;
      z-index: 10;
    }
  }
}

.card-inner {
  background-color: var(--bg-card-inner);
  padding: var(--padding-card-inner);
  border-radius: var(--border-radius-card);
  height: 100%;
  overflow: auto;
}

.card-header {
  display: flex;
  gap: 4px;
  margin-bottom: 16px;

  h2 {
    font-size: 24px;
    margin-right: auto;
  }
  .MuiIconButton-root {
    width: 32px;
    height: 32px;
  }
}
