.icon-wrapper {
  width: 48px;
  height: 48px;
  box-shadow: var(--shadow-emphasis);
  border-radius: var(--border-radius-emphasis);
  display: flex;
  justify-content: center;
  align-items: center;
}
